html, body {
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex-grow: 1;
    padding-bottom: 3rem; /* Adjust this value based on the height of the bottom bar */
}
